{% extends 'base.html' %}
{% block content %}
        <main class="col-lg-8 mx-auto p-3 py-md-5">
            <main>
                <h1>Services on Local Machine {{id}}</h1>
                <br>


                <div class="fs-5 col-md-8">
                    <span>Automatic refresh every 10 seconds</span>
                    <div class="form-check form-switch form-check-inline">
                        <input class="form-check-input" type="checkbox" role="switch" id="refresh_button2" checked/>
                        <label class="form-check-label" for="refresh_button2"></label>
                    </div>
                </div>

                <div class="fs-5 col-md-8">
                    Refresh now:
                    <button type="button" class="btn btn-primary btn-sm" onclick="window.location.reload()">
                        <i class="bi bi-arrow-repeat"></i>
                    </button>
                    <p class="fs-5 col-md-8"><strong>Current time:</strong> <span id="cur_time"></span> </p>
                </div>

                <br>

            </main>

            <main>
                <table style="width:100%">
                    <tr>
                        <th style="width:35%">
                            Service Name
                        </th>
                        <th style="width:15%">
                            Service Enabled
                        </th>
                        <th style="width:15%">
                            Service State
                        </th>
                        <th style="width:25%">
                            Functions
                        </th>
                        <th style="width:10%">
                            Log
                        </th>
                    </tr>

                    {% for service in services %}
                    <tr>
                        <td>{% if service['url'] %} <a href="{{ service['url'] }}">{{service['description']}}</a> {% else %} {{service['description']}} {% endif %}</td>
                        <td><div class="service_{{service['enabled']}}" style="width: 100px; padding-right: 20px; padding-left: 20px; border: 1px solid gray">
                            {{service['enabled']}}
                        </div>

                        </td>
                        <td>
                            <div class="{{service['status_class']}}" style="width: 100px; padding-right: 20px; padding-left: 20px; border: 1px solid gray">
                                {{service['status']}}
                            </div>
                        </td>

                        <td>
                            {% if service['allow_functions'] %}
                                <button type="button" class="btn btn-primary btn-sm" onclick="restart_service(this.name)" id="restart_{{service['service_name']}}" name="{{service['service_name']}}" style="height: 32px">
                                    Restart
                                </button>
                                <button type="button" class="btn btn-primary btn-sm" onclick="start_service(this.name)" id="start_{{service['service_name']}}" name="{{service['service_name']}}" style="height: 32px">
                                    Start
                                </button>
                                <button type="button" class="btn btn-primary btn-sm" onclick="stop_service(this.name)" id="stop_{{service['service_name']}}" name="{{service['service_name']}}" style="height: 32px">
                                    Stop
                                </button>
                                &nbsp;
                                <button type="button" class="btn btn-primary btn-sm" onclick="enable_service(this.name)" id="enable_{{service['service_name']}}" name="{{service['service_name']}}" style="height: 32px">
                                    Enable
                                </button>
                                <button type="button" class="btn btn-primary btn-sm" onclick="disable_service(this.name)" id="disable_{{service['service_name']}}" name="{{service['service_name']}}" style="height: 32px">
                                    Disable
                                </button>
                            {% else %}
                                <div style="height: 32px"></div>
                            {% endif %}
                        </td>
                        <td><a href="/api/last_log/{{service['service_name']}}" target="_blank" rel="noopener noreferrer">Log</a>
                        <a href="/live_log/{{service['service_name']}}" target="_blank" onclick="window.open('/live_log/{{service['service_name']}}','name','width=1080,height=600')">Live Log</a></td>

                    </tr>

                    {% endfor %}
                </table>
            </main>
        </main>



<script>
    // When page has loaded
    $( document ).ready(function()
    {
        refreshTime();
    });

    function restart_service(id)
    {

        $.get("/api/service/restart/"+id);
    }
    function start_service(id)
    {

        $.get("/api/service/start/"+id);
    }
    function stop_service(id)
    {

        $.get("/api/service/stop/"+id);
    }
    function enable_service(id)
    {

        $.get("/api/service/enable/"+id);
    }
    function disable_service(id)
    {

        $.get("/api/service/disable/"+id);
    }



    // For the automatic refresh of the sensor data, we first need to check if the checkmark is set
    // If so, call the update data function
    // Runs every 10 seconds
    function conditional_update_data()
    {
        if ($('#refresh_button2').is(':checked')) {
            window.location.reload()
        }
    }
    setInterval(conditional_update_data, 10000);



    //Every second we update the current time
    function refreshTime()
    {   const options = { hour: "numeric", minute: "numeric", second: "numeric",};
        const timeDisplay = document.getElementById("cur_time");
        timeDisplay.textContent = new Date().toLocaleTimeString('de-DE', options);
    }
    setInterval(refreshTime, 1000);


</script>
{% endblock %}